<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div id="sidebar">
    <ul class="github">
      <li><a href="https://github.com/Q-Translate/qtr_server" target="_blank">qtr_server</a></li>
      <li><a href="https://github.com/Q-Translate/qtr_client" target="_blank">qtr_client</a></li>
      <li><a href="https://github.com/Q-Translate/qtrclient" target="_blank">qtrclient</a></li>
    </ul>

    <ul class="links">
      <li><a href="/index.html">Index</a></li>
      <li><a href="/install.html">Install</a></li>
      <li><a href="/api/">API</a></li>
      <li><a href="/docs.html">Docs</a></li>
    </ul>

  </div>
</div>
<!-- /#sidebar-wrapper -->
